<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>	
	<key>GRAILS_HOME</key>
	<string>/usr/local/Cellar/grails/2.0.0/libexec</string>
	<key>JAVA_HOME</key>
  	<string>/System/Library/Frameworks/JavaVM.framework/Versions/CurrentJDK/Home</string>
  	<key>GROOVY_HOME</key>
  	<string>/usr/local/Cellar/groovy/1.8.4/libexec</string>
</dict>
</plist>
