<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DISPLAY</key>
	<string>$DISPLAY</string>
	<key>DROPBOX_HOME</key>
	<string>$DROPBOX_HOME</string>
	<key>GRAILS_HOME</key>
	<string>$GRAILS_HOME</string>
	<key>JAVA_HOME</key>
	<string>$JAVA_HOME</string>
	<key>PATH</key>
	<string>$PATH</string>
</dict>
</plist>
