home/.berkshelf/cookbooks/
home/.berkshelf/default/
home/.berkshelf/tmp/
home/.berkshelf/.cache/
*.pem
home/.config/configstore/
apiKey.properties
hub
home/.chef/checksums/
home/.chef/knife.rb
home/.config/direnv
home/.config/gtk*
home/.config/inkscape

home/.config/fish/fishd.*
home/.config/fish/fish_history

home/.boot2docker/boot2docker.iso.bak
home/.boot2docker/boot2docker.iso

home/.config/regolith/flags
