home/.berkshelf/cookbooks/
home/.berkshelf/default/
home/.berkshelf/tmp/
home/.berkshelf/.cache/
*.pem
home/.config/configstore/
apiKey.properties
hub
home/.chef/checksums/
home/.chef/knife.rb
home/.config/direnv
home/.config/gtk*
home/.config/inkscape

