[user]
	name = Julio Arias
	email = jarias01@gmail.com
[alias]
	co = checkout
  cm = commit
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim
[apply]
	whitespace = nowarn
[github]
	user = jarias
	token = e889c91d21858f4429950f62c275446f
[heroku]
	account = personal
