[user]
	name = Julio Arias
	email = julio.arias@edify.cr
[alias]
	co = checkout
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
	editor = mate
[apply]
	whitespace = nowarn
[github]
	user = jarias
	token = e889c91d21858f4429950f62c275446f
