Xft.dpi: 282
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull

rofi.font: Hack 28
rofi.lines: 3
rofi.eh: 2
rofi.width: 50
rofi.padding: 20
rofi.bw: 0
rofi.bc: #2f343f
rofi.bg: #2f343f
rofi.fg: #f3f4f5
rofi.hlbg: #2f343f
rofi.hlfg: #9575cd
rofi.terminal: xfce4-terminal
